PROJECT_NAME=FASTAPI BASE
DEBUG=True
SECRET_KEY=123456
SQL_DATABASE_URL=postgresql+psycopg2://db_user:secret123@localhost:5432/fastapi_base
TESTING_SQL_DATABASE_URL=postgresql+psycopg2://db_user:secret123@localhost:5432/fastapi_base_testing
PREFIX=/hr-service
TEKO_SERVICE_TOKEN='123'
DIGI_SERVICE_TOKEN='123'
DOCKER_APP_PORT=8050
MINIO_PORT=9002
MINIO_URL=localhost:9002
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minio1234
MINIO_BUCKET_NAME=hr-service